# CSC111 Winter 2021 Project Phase 2: Final Submission
# Python libraries used in this project.

# Testing and code checking
hypothesis
pytest
python-ta~=1.6.3

# Graphics and data visualization
plotly
pygame~=2.0.1
PyQt5
requests
